{% extends 'base2.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% block title %}Certification{% endblock %}

{% block content %}
<style>
    body{
        background-image: url("https://prd-image-masters.caravan-stories.com.tw/c/sig=1.wJPHhERFgwnK6pqXcpnOuTgK_Pkdv2HcqqPh335P2iM=/caravan-stories/masters/production-tw/attachments/1b21c7fb435b583e0592c03c04df26a9.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .jumbotron a:link, .jumbotron a:visited {   
        background-color: #474542;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin-left: 10px;
        font-weight: bold;
        font-family: "Times New Roman", Times, serif;
        border-radius: 8px;
    }

        .jumbotron a:hover, .jumbotron a:active {
        color: black;
        background-color: rgb(50, 90, 85);
    }

</style>
    <div class="jumbotron">
        <div class="row">
           
            <div class="col-md-4">
                <div class="card mb-3 w-100 bg-light">
                    <div class="card-header"><h3>Certificate Your Account</h3>
                    </div>
                    <div class="card-body">
                        {{ render_form(form) }}
                        <hr>
                        
                    </div>
                </div>
            </div>
        </div>
        <a href="{{ url_for('user.index') }}">Back to My Home</a>
    </div>
{% endblock %}