{% extends 'base2.html' %}
{% from 'bootstrap/pagination.html' import render_pager %}
{% block content %}
    <h1>MoveHelper </h1>
    <h2>Welcome: {{ current_user.username }}!</h2>
    {% if current_user.confirmed %}
        <div class="row">
            <div class="col-sm-8">
                
                {% if tasks %}
                    {% for task in tasks %}
                        <P>
                                <p style="display: inline;">&nbsp;&nbsp;{{ task.title }}&nbsp;&nbsp;|&nbsp;&nbsp;Released at:&nbsp;&nbsp;{{ task.pubtime }}</p>&nbsp;&nbsp;
                                {% if task.status == False %}
                                    <form method="POST" style="display: inline;">
                                        <button type="submit" class="btn btn-info btn-sm" style="background-color: chartreuse; white-space: nowrap;" formaction="{{ url_for('tasks.taskdet', task_id=task.id) }}">Apply Now</button>&nbsp;
                                    </form>
                                {% else %}
                                    <button class="btn btn-info btn-sm" style="background-color: rgb(245, 16, 27); white-space: nowrap;">Locked</button>&nbsp;
                                {% endif %}
                        </P>
                    {% endfor %}
                    {% if tasks %}
                        <div class="page-footer">{{ render_pager(pagination) }}</div>
                    {% endif %}
                {% else %}    
                    <h4>Waiting for others to release tasks!</h4>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-sm-8">
                
                {% if tasks %}
                    {% for task in tasks %}
                        <p>
                            Title:&nbsp;&nbsp;{{ task.title }}&nbsp;&nbsp;|&nbsp;&nbsp;Released at:&nbsp;&nbsp;{{ task.pubtime }}
                        </p>
                        
                    {% endfor %}
                    {% if tasks %}
                        <div class="page-footer">{{ render_pager(pagination) }}</div>
                    {% endif %}
                    <h4>Please confirm your account</h4>
                {% else %}    
                    <h4>Confirm and rlease new tasks!</h4>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}