{% extends 'base2.html' %}
{% from 'bootstrap/pagination.html' import render_pager %}
{% block content %}
    <h1>MoveHelper </h1>
    <h2>Welcome: {{ current_user.username }}!</h2>
    {% if current_user.confirmed %}
        <div class="row">
            <div class="col-sm-8">
                
                {% if tasks %}
                    {% for task in tasks %}
                        <P>
                            <a href="{{ url_for('tasks.taskdet', task_id=task.id, editbool=0) }}">
                                Title:&nbsp;&nbsp;{{ task.title }}&nbsp;&nbsp;|&nbsp;&nbsp;Released at:&nbsp;&nbsp;{{ task.pubtime }}
                            </a>
                        </P>
                    {% endfor %}
                    {% if tasks %}
                        <div class="page-footer">{{ render_pager(pagination) }}</div>
                    {% endif %}
                {% else %}    
                    <h4>You can rlease new tasks!</h4>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-sm-8">
                
                {% if tasks %}
                    {% for task in tasks %}
                        <p>
                            Title:&nbsp;&nbsp;{{ task.title }}&nbsp;&nbsp;|&nbsp;&nbsp;Released at:&nbsp;&nbsp;{{ task.pubtime }}
                        </p>
                        
                    {% endfor %}
                    {% if tasks %}
                        <div class="page-footer">{{ render_pager(pagination) }}</div>
                    {% endif %}
                    <h4>Please confirm your account</h4>
                {% else %}    
                    <h4>Confirm and rlease new tasks!</h4>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}