{% extends 'base2.html' %}
{% from 'bootstrap/pagination.html' import render_pager %}
{% block content %}
    <h1>MoveHelper </h1>
    <h2>{{ current_user.username }}'s Applications</h2>
        <div class="row">
            <div class="col-sm-8">
                
                {% if applys %}
                    {% for apply in applys %}
                        <P nowrap>
                            
                            <p style="display: inline;">OrderNo.&nbsp;{{ apply.id }}&nbsp;&nbsp;|&nbsp;&nbsp;TaskNo.&nbsp;{{ apply.task_id }}&nbsp;&nbsp;|&nbsp;&nbsp;TaskTitle:&nbsp;&nbsp;{{ apply.title }}&nbsp;&nbsp;|&nbsp;&nbsp;Created at:&nbsp;&nbsp;{{ apply.createtime }}&nbsp;&nbsp;</p>
                            <form class="mtask" method="POST" style="display: inline;">
                                <button type="submit" class="btn btn-info btn-sm" style="background-color: rgb(243, 163, 14); white-space: nowrap;" formaction="{{ url_for('tasks.taskdet', task_id=apply.task_id) }}">Check</button>&nbsp;
                            </form>
                        </P>
                    {% endfor %}
                    {% if applys %}
                        <div class="page-footer">{{ render_pager(pagination) }}</div>
                    {% endif %}
                {% else %}    
                    <h4>No records!</h4>
                {% endif %}
            </div>
        </div>
        <a href="{{ url_for('tasks.opentasks') }}">Explore Open Tasks</a>
{% endblock %}