{% extends 'base2.html' %}
{% from 'bootstrap/pagination.html' import render_pager %}
{% block content %}
<style>
    /* unvisited link */
    .mtask a:link {
    color: white;
    text-decoration:none;
    }

    /* visited link */
    .mtask a:visited {
    color: white;
    text-decoration:none;
    }

    /* mouse over link */
    .mtask a:hover {
    color: white;
    text-decoration:none;
    }

    /* selected link */
    .mtask a:active {
    color: white;
    text-decoration:none;
    }

    h4{
    margin: 20px;
    }

    .button1:link, .button1:visited {   
        background-color: #474542;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin-left: 10px;
        margin-top: 10px;
        font-weight: bold;
        font-family: "Times New Roman", Times, serif;
        border-radius: 8px;
    }

        .button1:hover, .button1:active {
        color: black;
        background-color: rgb(50, 90, 85);
    }

</style>
    <h1>MoveHelper </h1>
    <h2>{{ current_user.username }}'s Tasks</h2>
        <div class="row">
            <div class="col-sm-8">
                
                {% if usertasks %}
                    {% for usertask in usertasks %}
                    <P nowrap>
                        <p style="display: inline;">TaskNO.&nbsp;{{ usertask.id }}&nbsp;&nbsp;|&nbsp;&nbsp;Title:&nbsp;&nbsp;{{ usertask.title }}&nbsp;&nbsp;|&nbsp;&nbsp;Released at:&nbsp;&nbsp;{{ usertask.pubtime }}</p>&nbsp;&nbsp;
                        {% if usertask.status == False %}
                            <form class="mtask" method="POST" style="display: inline;">
                                <button type="submit" class="btn btn-info btn-sm" style="background-color: chartreuse; white-space: nowrap;" formaction="{{ url_for('tasks.taskdet', task_id=usertask.id) }}">Unapplied</button>&nbsp;
                                <button type="submit" class="btn btn-info btn-sm"><a style="color: cornsilk;" href="{{ url_for('tasks.taskedit', task_id=usertask.id) }}">Edit this Task</a></button>&nbsp;
                                <button type="submit" class="btn btn-info btn-sm" onclick="return confirm('Are you sure?');" formaction="{{ url_for('tasks.taskdelete', task_id=usertask.id) }}">Delete this Task</button>
                            </form>
                        {% else %}
                            <form method="POST" style="display: inline;">
                                <button class="btn btn-info btn-sm" style="background-color: rgb(245, 16, 27); white-space: nowrap;" formaction="{{ url_for('tasks.applieddet', task_id=usertask.id) }}">Applied</button>&nbsp;
                            </form>
                        {% endif %}
                    </P>
                    {% endfor %}
                    {% if usertasks %}
                        <div class="page-footer">{{ render_pager(pagination) }}</div>
                    {% endif %}
                {% else %}    
                    <h4>No records!</h4>
                {% endif %}
            </div>
        </div>
        <a class="button1" href="{{ url_for('tasks.newtask') }}">Release Task</a></br>
        <a class="button1" href="{{ url_for('user.index') }}">Back to My Home</a>
{% endblock %}