{% extends 'base2.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% block content %}
    <div class="jumbotron">
        <div class="row">
        
            <div class="col-md-4">
                <div class="card mb-3 w-100 bg-light">
                    <div class="card-header"><h4>Update Your Task</h4></div>
                    <div class="card-body">
                        {{ render_form(form) }}
                        <hr>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    
{% endblock %}