{% extends 'base2.html' %}
    
{% block content %}
    {% for message in get_flashed_messages() %}
        <div class="alert">
            {{ message }}
        </div>
    {% endfor %}
    <h1>MoveHelper </h1>
    <div class="row">
        <div class="col-sm-8">
                
            
            <p>Title:&nbsp;&nbsp;{{ task.title }}</p>
            <p>Announcer:&nbsp;&nbsp;{{ task.announcer.username }}</p>
            <p>Release Time:&nbsp;&nbsp;{{ task.pubtime }}</p>
            <p>Context:&nbsp;&nbsp;{{ task.context }}</p>
            <p>Contact:&nbsp;&nbsp;{{ task.contact }}</p>
            <p>Location:&nbsp;&nbsp;{{ task.location }}</p>
        </div>
    </div>
    {% if userid == task.user_id %}
        <a class="btn btn-info btn-sm" href="{{ url_for('tasks.taskedit', task_id=task.id) }}">Edit this Task</a></br>
        
        <form class="inline" method="post"
            action="{{  url_for('tasks.taskdelete', task_id=task.id) }}">
            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?');">Delete</button>
        </form></br></br>
    {% endif %}
    <a href="{{ url_for('tasks.mytasks') }}">Back to mytasks</a></br>
    <a href="{{ url_for('user.index') }}">Back to My account</a>
{% endblock %}