{% extends 'base2.html' %}
    
{% block content %}
<style>
.button1:link, .button1:visited {   
        background-color: #474542;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin-left: 10px;
        margin-top: 10px;
        font-weight: bold;
        font-family: "Times New Roman", Times, serif;
        border-radius: 8px;
    }

    .button1:hover, .button1:active {
        color: black;
        background-color: rgb(50, 90, 85);
    }


</style>
    <h1>MoveHelper </h1>
    <div class="row">
        <div class="col-sm-8">
            {% if taskstatus == False %}
                <p style="color: green;">Task Status: Task is waiting to apply!</p>
            {% else %}
                <p style="color: red;">Task Status: Task Was Closed</p>
            {% endif %}
            <p>Title:&nbsp;&nbsp;{{ task.title }}</p>
            <p>Announcer:&nbsp;&nbsp;{{ task.ua.username }}</p>
            <p>Release Time:&nbsp;&nbsp;{{ task.pubtime }}</p>
            <p>Context:&nbsp;&nbsp;{{ task.context }}</p>
            <p>Contact:&nbsp;&nbsp;{{ task.contact }}</p>
            <p>Location:&nbsp;&nbsp;{{ task.location }}</p>
            <p>Manpower Requirement:&nbsp;&nbsp;{{ task.mpnum }}</p>
            {% if task.mpnume == 0 %}
                <p style="color: green;">Appiled person:&nbsp;&nbsp;{{ task.mpnume }}</p>
            {% elif task.mpnume < task.mpnum %}
                <p style="color: goldenrod;">Appiled person:&nbsp;&nbsp;{{ task.mpnume }}</p>
            {% elif task.mpnume == task.mpnum %}
                <p style="color: red;">Appiled person:&nbsp;&nbsp;{{ task.mpnume }}</p>
            {% endif %}
        </div>
    </div>
    {% if orders %}
        {% if order %}
            {% if current_user.id == task.user_id and task.mpnume != 0%}
                <p style="color: coral;">Your task was appiled, you can not eidt or delete it!</p>
            {% elif current_user.id != task.user_id and taskstatus == False %}
                <p style="color: blueviolet;">You were already appiled this task.</p></br></br>                
            {% endif %}
        {% else %}
            {% if current_user.id == task.user_id and task.mpnume != 0%}
                <p style="color: coral;">Your task was appiled, you can not eidt or delete it!</p>
            {% elif current_user.id != task.user_id and taskstatus == False %}
                <a class="btn btn-info btn-sm" style="background-color: blueviolet;" onclick="return confirm('Are you sure?');" href="{{ url_for('user.applytask', task_id=task.id) }}">Apply Task</a></br></br>
            {% endif %}
        {% endif %}
    {% else %}
        {% if current_user.id == task.user_id and taskstatus == False and task.mpnume == 0 %}
            <a class="btn btn-info btn-sm" href="{{ url_for('tasks.taskedit', task_id=task.id) }}">Edit this Task</a></br></br>   
            <form class="inline" method="post"
                action="{{  url_for('tasks.taskdelete', task_id=task.id) }}">
                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?');">Delete</button>
            </form></br></br>
        {% elif current_user.id != task.user_id and taskstatus == False %}
            <a class="btn btn-info btn-sm" style="background-color: blueviolet;" onclick="return confirm('Are you sure?');" href="{{ url_for('user.applytask', task_id=task.id) }}">Apply Task</a></br></br>
        {% endif %}
    {% endif %}
    
    <a class="button1" href="{{ url_for('tasks.mytasks') }}">Back to My Tasks</a>

{% endblock %}